<div class="d-flex flex-column flex-sm-row w-100 bg-secondary align-items-center text-center">
        <div class="d-flex flex-column justify-content-center p-4">
                <img src="@ProfilePic" class="rounded-circle" alt="User profile picture for @User" style="width: 18rem;">
                <h3>@User</h3>
                <span>@Location</span>
        </div>
        <div class="d-flex flex-column justify-content-center p-4 h-100">
                <h2>@ProductName</h2>
                <p>@Review</p>
                <div>
                        
                        @for (int i = 0; i < Rating; i++)
                        {
                                <span>⭐</span>
                        }
                </div>
                <p>@_purchased</p>
        </div>
</div>

@code {
        [Parameter]
        public string User { get; set; }
        
        [Parameter]
        public string Location { get; set; }
        
        [Parameter]
        public string Review { get; set; }
        
        [Parameter]
        public int Rating { get; set; }
        
        [Parameter]
        public string ProductName { get; set; }
        
        [Parameter]
        public string ProfilePic { get; set; }
        
        [Parameter]
        public DateTime Purchased{ get; set; }

        private string _purchased => $"{Purchased:D}";
}